.secao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3.125rem auto;
    margin-top: 0.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    width: 1265px;
    margin-top: 3.125rem;
}

.leftside {
    width: 759px;
    float: left;
}

.rightside {
    width: 506px;
    float: right;
}

.foto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.25);
}

.foto img{
    height: 330px;
    width: 506px;
}

.title h1{
    font-family: 'Livvic';
    text-decoration: underline 3px var(--green) ; 
    margin-bottom: 2.5rem;
    font-size: 1.9rem;
}

.text {
    width: 659px;
}
.text p {
    font-size: 1rem;
    font-family: 'Rhodium Libre', serif;
    text-align: justify;
}

.center {
    display: flex;
    width: 1265px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    background: #f0f0f5;
    border-radius: 8px;
}

.titleCenter h1{
    font-family: 'Livvic';
    text-decoration: underline 3px var(--green) ;
    font-size: 1.9rem;
    margin-top: 2.5rem;
    text-align: center;
}

.titleCenter p {
    font-size: 1rem;
    font-family: 'Rhodium Libre', serif;
    font-size: 1rem;
    width: 1200px;
    padding: 20px;
    text-align: center;
}

.items-container {
    display: flex;
    margin-top: 10px;
    justify-content:center;
    border-radius: 8px;
    margin-bottom: 50px;
}

.banner1, .banner2, .banner3 {
    font-family: 'Rhodium Libre', serif;
    flex: 1;
    padding: 20px;
    align-items:center;
    justify-content: center;
    max-width: 400px;
}

.image {
    overflow: hidden;
    align-items: center;
    height: 100px;
    max-width: 100%;
    padding: 20px;
}

.image img {

    height: 60px;
    max-width: 100%;
    display: block;
    margin:auto;
    margin-top: 5px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.image:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.banner_title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #333333;
    text-align: center;
    padding: 10px;
}

.banner_subtitle {
    font-size: 15px;
    padding: 10px;
    color: #333;
    text-align: justify;
}